
body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
{
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  
}

.user-row{
  margin: 0px;
  padding: 5px 0px;
  border-bottom: 1px solid #CCC;
}
.user-row:nth-child(even) {background: #F1F1F1}
.status-icon{
  margin-right: 5px;
}
.status-icon.active{
  color:#57b449;
}
.status-icon.inactive{
  color:#d02a29;
}
.mobile-no{
  float: right;
}
.edit-icons>span{
  margin-left: 10px;
  float: right;
}
.header-section{
  background-color: #CCC;
  margin-bottom: 10px;
  padding: 5px;
}
.modal-body .modal-footer{
  padding: 15px 0px;
}
.error-msg{
  color:#d02a29;
}
.no-record-msg{
  text-align: center;
    margin-top : 1em;
    font-size: 16px;
    font-weight: bold;
    color: rgba(0,0,0,0.5);
    line-height: 50px;
}