<div class="user-page">
  <div class="header-section row">
    <div class="col-md-9"></div> 
    <div class="col-md-3">
      <button class="add-new-contact btn btn-primary pull-right" ng-click="addNewContact()">Add new User</button>
    </div>
  </div>
  <div class="content-section">
    
    <div ng-if="userDetails.length" class="row row-no-margin user-row" ng-repeat="user in userDetails">
      <div class="col-md-4">
        <span ng-class="{'active glyphicon glyphicon-ok-circle' : user.status == 'Active', 'inactive   glyphicon glyphicon-exclamation-sign' : user.status == 'Inactive'}" class="status-icon"></span>
        <span class="name">{{user.firstName}} {{user.lastName}}</span>
      </div>
      <div class="col-md-3">
        <span class="email">{{user.email}}</span>
      </div>
      <div class="col-md-3">
        <span class="mobile-no">{{user.phone}}</span>
      </div>
      <div class="col-md-2 edit-icons">
        <span class="glyphicon glyphicon-trash" ng-click="deleteContact(user)"></span>
        <span class="glyphicon glyphicon-pencil" ng-click="updateContact(user)"></span>
      </div>
    </div>
    <div ng-if="userDetails.length == 0">
      <p class="no-record-msg">No records found... Please add new records</p>
    </div>
  </div>
  <div class="footer-section"></div>
</div>